@model IEnumerable<SGD.App.ViewModel.PerguntaRespostaViewModel>


@{
    ViewData["Title"] = "Filtro de Pesquisa";
}


<h3 style="padding-top: 50px">@ViewData["Title"]</h3>
<hr />
@if (TempData["Success"] != null)
{
    <div style="color: red; padding-bottom: 20px;">
        <h5><strong>Atenção:</strong> @TempData["Success"].ToString()</h5>
    </div>
}
<div class="row">
    <div class="col-md-12 cmd12">
        <form asp-action="">

            <div class="filtroLeft form-group ">
                <label @*asp-for="Nome"*@ class="control-label">Wiki Pesquisa</label>
                <input name="inpPergunta" class="form-control" placeholder="Digite uma pergunta..." />
                <span @*asp-validation-for="Nome"*@ class="text-danger"></span>
            </div>

            <div class=" filtroLeft form-group ">
                <label for="">Tipo de Pesquisa</label>
                <select id="optSelectedId" name="optSelectedId" class="form-control" runat="server">
                    <option value="0">Exatamente</option>
                    <option value="1">Começando com</option>
                    <option value="2">Terminando com</option>
                    <option value="3">Que contenha</option>
                </select>
            </div>


            <div class=" filtroLeft form-group ">
                <label for="">Categoria</label>
                @Html.DropDownListFor(n => n.ToList().FirstOrDefault().CategoriaId, Model.FirstOrDefault()?.CategoriasList, "Selecione", new { @class = "form-control" })
                @*@Html.DropDownListFor(x => x.CategoriaViewModel, Model?.CategoriaViewModel.Select(m => new SelectListItem { Value = m.Nome, Text = m.Nome }), new { @class = "form-control" })*@
            </div>

            <div class="filtroLeft form-group">
                <label @*asp-for="Nome"*@ class="control-label">Usuário</label>
                <input @*asp-for="Nome"*@ name="inpEmail" class="form-control" placeholder="E-mail" />
                <span @*asp-validation-for="Nome"*@ class="text-danger"></span>
            </div>

            <div class="form-group pesquisarMarg">
                @*<a class="btn btn-primary" asp-action="Pesquisar">Pesquisar</a>*@
                <input type="submit" asp-action="Pesquisar" value="Pesquisar" name="optSelectedId" name="inpPergunta" name="inpEmail" class="btn btn-primary" />
            </div>

            <hr />

            <div class="form-group">
                <label @*asp-for="Nome"*@>Pergunta</label>

                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Código
                            </th>

                            <th>
                                Pergunta
                            </th>

                            <th>
                                Tipo de Pesquisa
                            </th>

                            <th>
                                Categoria
                            </th>

                            <th>
                                Usuário
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderBy(m => m.PerguntaId))
                        {
                            <tr>
                                <td>

                                    @if (item.PerguntaId != null && item.PerguntaId > 0)
                                    {
                                        @Html.DisplayFor(modelItem => item.PerguntaId)

                                    }
                                </td>

                                <td>
                                    @if (!string.IsNullOrEmpty(item.DescricaoPergunta))
                                    {
                                        @Html.DisplayFor(modelItem => item.DescricaoPergunta)
                                    }
                                </td>

                                <td>
                                    @*@Html.DisplayFor(modelItem => item.Descricao)*@
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.DescricaoCategoria)
                                </td>

                                <td>
                                </td>
                                <td>
                                    @if (item.PerguntaId != null && item.PerguntaId > 0)
                                    {
                                        @Html.ActionLink("Ver Resposta", "Pesquisar", new { id = item.PerguntaId }, new { @class = "tdt" })

                                    }

                                </td>

                                <td class="text-right">
                                    @if (item.PerguntaId != null && item.PerguntaId > 0)
                                    {
                                        @*<a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>*@
                                        <a class="btn btn-warning" @*asp-action="Edit" asp-route-id="@item.Id"*@><spam class="fa fa-pencil-alt"></spam></a>
                                        <a class="btn btn-danger" @*asp-action="Delete" asp-route-id="@item.Id"*@><spam class="fa fa-trash"></spam></a>
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <label for="">Resposta</label>

            </div>
            <div class="comment-text-area form-group">
                <textarea class="textinput" readonly="">
                      @foreach (var item in Model)
                      {
                          if (!string.IsNullOrEmpty(item.DescricaoResposta)) { 
                              @Html.DisplayFor(modelItem => item.DescricaoResposta)
                          }
                      }
                </textarea>
            </div>

        </form>


    </div>
</div>







